<h1>Listing sales_receipts</h1>

<table>
  <thead>
    <tr>
      <th>Employees</th>
      <th>Date</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales_receipts.each do |sales_receipt| %>
      <tr>
        <td><%= sales_receipt.employees_id %></td>
        <td><%= sales_receipt.date %></td>
        <td><%= sales_receipt.amount %></td>
        <td><%= link_to 'Show', sales_receipt %></td>
        <td><%= link_to 'Edit', edit_sales_receipt_path(sales_receipt) %></td>
        <td><%= link_to 'Destroy', sales_receipt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sales receipt', new_sales_receipt_path %>
