<p id="notice"><%= notice %></p>

<p>
  <strong>Emp:</strong>
  <%= @sales_receipt.emp_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @sales_receipt.amount %>
</p>

<p>
  <strong>Date:</strong>
  <%= @sales_receipt.date %>
</p>

<%= link_to 'Edit', edit_sales_receipt_path(@sales_receipt) %> |
<%= link_to 'Back', sales_receipts_path %>
