<h1>Listing employees</h1>

<table>
  <thead>
    <tr>
      <th>Name || </th>
      <th>Adress || </th>
      <th>Payment type || </th>
     
      <th>Affiliation type || </th>
      
      <th>Payment method type</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.name %></td>
        <td><%= employee.adress %></td>
        <td><%= employee.payment_type %></td>
        <td><%= employee.Affiliation_type %></td>
        <td><%= employee.payment_method_type %></td>
        
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_employee_path %>
