<h1>Listing time_cards</h1>

<table>
  <thead>
    <tr>
      <th>Emp</th>
      <th>Time</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @time_cards.each do |time_card| %>
      <tr>
        <td><%= time_card.emp_id %></td>
        <td><%= time_card.time %></td>
        <td><%= time_card.date %></td>
        <td><%= link_to 'Show', time_card %></td>
        <td><%= link_to 'Edit', edit_time_card_path(time_card) %></td>
        <td><%= link_to 'Destroy', time_card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Time card', new_time_card_path %>
