<%= simple_form_for(@calculate_pay) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :emp_id %>
    <%= f.input :pay %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
