<%= simple_form_for(@service_charge) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="form-group select optional service_charge_emp_id">
      <label class="select optional control-label" for="service_charge_emp_id">Employees</label>
      <select class="select optional form-control" id="service_charge_emp_id" name="service_charge[emp_id]">
        <option value="">(사원번호) 이름을 선택하세요</option>
        
     <%# new에서 새로운 모델의 객체 @employees를 추가 후 받아옴 %>
        <% @employees.each do |employee| %>
          <% if employee.Affiliation_type == 'unionAffiliation' %>
          <option value='<%=employee.emp_id %>'><%= '('+ employee.emp_id+ ')' +' '+ employee.name %></option>
          <% end %>
        <% end %>
        </select>
     </div>
   
    <%= f.input :charge %>
    <%= f.input :date %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
