<h1>Listing service_charges</h1>

<table>
  <thead>
    <tr>
      <th>Emp</th>
      <th>Charge</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @service_charges.each do |service_charge| %>
      <tr>
        <td><%= service_charge.emp_id %></td>
        <td><%= service_charge.charge %></td>
        <td><%= service_charge.date %></td>
        <td><%= link_to 'Show', service_charge %></td>
        <td><%= link_to 'Edit', edit_service_charge_path(service_charge) %></td>
        <td><%= link_to 'Destroy', service_charge, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service charge', new_service_charge_path %>
